/* CSS declarations go here */

#outer {
    width: 80pc;
    
    margin:  90px auto;    
}
 
svg {
  font: 10px sans-serif;
}
 
environments {
  width: 200px;
}
path {
  fill: steelblue;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.environment {
  margin-left: 40px;
  margin-bottom: 4px;
}


.environment.selected {
   width: 200px;
    background-color: yellow;
}
